aerich==0.7.2
aiohttp==3.10.10
backports.tarfile==1.2.0
environs==11.0.0
flet==0.24.1
httptools==0.6.4
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.collections==5.1.0
loguru==0.7.2
pillow==11.0.0
pip-chill==1.0.3
playwright==1.48.0
pyinstaller==6.11.0
pysocks==1.7.1
tomli==2.0.1
virtualenv==20.27.1
watchfiles==0.24.0
websockets==13.1
